/* style.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffe4e1;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 320px;
    position: relative;
}

.box-placeholder {
    width: 140px;
    height: 140px;
    background-color: #eee;
    margin: 0 auto 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100px; /* Espacio de seguridad */
}

button {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#noBtn {
    background-color: #888;
    color: white;
    /* Al principio es relativo para que no se monte sobre el SI */
    position: relative; 
    z-index: 10;
    
}

.box-placeholder {
    width: 180px; 
    height: 180px;
    margin: 0 auto 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Esto corta la imagen si es muy grande y respeta las esquinas redondeadas */
    background-color: #eee;
}